.container {
  padding: 24px;
  text-align: center;
}

.layout {
  display: block;
  width: calc(1280-24) px;
}

.search-area,
.select-area {
  background-color: white;
  width: 1024px;
  height: 44px;
  border: 1px solid rgb(201, 202, 204);
  border-radius: 4px;
  display: flex;
  margin: 6px auto 6px auto;
  align-items: center;
}

.icon-area {
  width: 16px;
  height: 16px;
  margin-left: 16px;
}

.input-area {
  width: 100%;
  margin: 0px 16px;
}

.search-box {
  width: 100%;
  padding: 12px 0px;
  border: none;
}

.category {
  width: 96px;
  height: 44px;
  line-height: 46px;
  text-align: center;
  background-color: rgb(240, 241, 243);
  border-radius: 4px 0 0px 4px;
  border-right: 1px solid rgb(201, 202, 204);
}

.chip-area {
  align-items: center;
  display: flex;
}

.button {
  background-color: rgb(240, 241, 243);
  border: 1px solid rgb(240, 241, 243);
  cursor: pointer;
  border-radius: 13px;
  padding: 4px 12px;
  margin: 8px;
}

.button:hover {
  background-color: rgb(201, 202, 204);
  color: rgba(0, 0, 0, 0.581);
}

.clicked {
  background-color: rgb(82, 79, 161);
  color: white;
}

.total-count {
  text-align: left;
  margin: 30px auto 0px auto;
  font-size: small;
  border-bottom: 1px solid rgb(201, 202, 204);
}

.course-body {
  display: grid;
  padding: 28px 0px;
  grid-template-columns: repeat(auto-fill, 296px);
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
}

.course-card {
  background-color: bisque;
  width: 296px;
  height: 338px;
  border-radius: 8px;
  display: inline-block;
  overflow: hidden;
}

input:focus {
  outline: none !important;
}

@media (max-width: 1280px) {
  .container,
  .total-count {
    width: calc(100%-24px);
    text-align: left;
  }
  .layout,
  .search-area,
  .select-area {
    width: 100%;
  }
}
