.container {
  padding: 24px;
  text-align: center;
}

.layout {
  display: block;
  width: calc(1280-24) px;
}

.search-area,
.select-area {
  background-color: white;
  width: 1024px;
  height: 44px;
  border: 1px solid rgb(201, 202, 204);
  border-radius: 4px;
  display: flex;
  margin: 6px auto 6px auto;
  align-items: center;
}

.icon-area {
  width: 16px;
  height: 16px;
  margin-left: 16px;
}

.input-area {
  width: 100%;
  margin: 0px 16px;
}

.search-box {
  width: 100%;
  padding: 12px 0px;
  border: none;
}

.category {
  width: 96px;
  height: 44px;
  line-height: 46px;
  text-align: center;
  background-color: rgb(240, 241, 243);
  border-radius: 4px 0 0px 4px;
  border-right: 1px solid rgb(201, 202, 204);
}

.chip-area {
  align-items: center;
  display: flex;
}

.button {
  background-color: rgb(240, 241, 243);
  border: 1px solid rgb(240, 241, 243);
  cursor: pointer;
  border-radius: 13px;
  padding: 4px 12px;
  margin: 8px;
}

.button:hover {
  background-color: rgb(201, 202, 204);
  color: rgba(0, 0, 0, 0.581);
}

.clicked {
  background-color: rgb(82, 79, 161);
  color: white;
}

.total-count {
  text-align: left;
  margin: 30px auto 0px auto;
  font-size: small;
  border-bottom: 1px solid rgb(201, 202, 204);
}

.course-body {
  display: grid;
  padding: 28px 0px;
  grid-template-columns: repeat(auto-fill, minmax(296px, 4fr));
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
}
.course-card-body {
  padding: 24px 28px;
}

.card-label {
  font-size: 12px;
  font-weight: bold;
  color: #524fa1;
}
.card-icon {
  width: 24px;
  height: 24px;
}

.card-icon-container {
  position: relative;
}

.card-icon-text {
  size: 12px;
  color: #7d7e80;
  vertical-align: center;
  width: 50%;
  float: left;
}

.card-logo {
  width: 52px;
  height: 52px;
  object-fit: cover;
  float: right;
}

.card-description {
  font-size: 14px;
  color: #5e5f61;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.course-card {
  background-color: white;
  width: 296px;
  height: 338px;
  border-radius: 8px;
  text-align: left;
  display: inline-block;
  overflow: hidden;
}

.page-container {
  position: relative;
  text-align: center;
}

.index {
  cursor: pointer;
  display: inline;
  margin-right: 30px;
  padding: 5px;
  user-select: none;
}

input:focus {
  outline: none !important;
}

@media (max-width: 1280px) {
  .container,
  .total-count {
    width: calc(100%-24px);
    text-align: left;
  }
  .layout,
  .course-body,
  .search-area,
  .select-area {
    width: 100%;
  }
}
